.property-top-nav {
  display: flex;
}
.address-details {
  display: flex;
}
.pp-card {
  margin-right: 40px;
  width: 380px;
  margin-left: 300px;
  margin-top: 130px;
  height: 238px;
  background-color: #f0f0f0;
  border-radius: 24px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.details-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
  margin-top: 80px;
  background-color: #f0f0f0;
  border-radius: 24px;
  margin-left: 300px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.title {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500px;
  margin-top: 20px;
}
.address {
  position: fixed;
  z-index: 2;
  margin-top: 20px;
  margin-left: 320px;
  font-family: "Poppins";
}
.detail-item {
  margin-left: 60px;
  font-family: "Poppins";
  font-size: 19px;
  margin-bottom: 10px;
}

/* added by jill*/
.add-new-lease{

  position: absolute;
  margin-left: 20px;
  border: black;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #17b890;
  color: #ffffff;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 26px;
  outline: none;

}